@{
    Layout = null;
    var index = 1;
}
@using PagedList
@using PagedList.Mvc
@model IEnumerable<AccountingBook.Models.ViewModel.AccountingBookViewModel>

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameFor(x => x.Category)</th>
        <th>@Html.DisplayNameFor(x => x.Date)</th>
        <th>@Html.DisplayNameFor(x => x.Money)</th>
        <th>@Html.DisplayNameFor(x => x.Remark)</th>
    </tr>
    @if (!Model.Any())
    {
        <tr>
            <td class="text-center" colspan="5">無資料</td>
        </tr>
    }
    else
    {
        foreach (var m in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@Category.Display(m.Category)</td>
                <td>@Html.DisplayFor(model => m.Date)</td>
                <td>@Html.DisplayFor(model => m.Money)</td>
                <td>@Remark.Display(m.Remark)</td>
            </tr>
        }
    }
</table>
@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))