@{
    Layout = null;
    var index = 1;
}
@model IEnumerable<AccountingBook.Models.ViewModel.AccountingBookViewModel>
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameFor(x => x.Category)</th>
        <th>@Html.DisplayNameFor(x => x.Date)</th>
        <th>@Html.DisplayNameFor(x => x.Money)</th>
    </tr>
    @if (!Model.Any())
    {
        <tr>
            <td class="text-center" colspan="4">無資料</td>
        </tr>
    }
    else
    {
        foreach (var m in Model)
        {
            <tr>
                <td>@(index++)</td>
                <td>@Html.DisplayFor(model => m.Category)</td>
                <td>@Html.DisplayFor(model => m.Date)</td>
                <td>@Html.DisplayFor(model => m.Money)</td>
            </tr>
        }
    }   
</table>
